.menu-spacer {
    flex: 1 1 auto;
}

nav {
    justify-content: space-around;
    height: 3em;
    #navbar-content {
        flex: 1;
    }

    ul {
        flex: 1;
        justify-content: flex-end;

        li {
            padding-left: 1em;
        }
    }
}
