<nav class="flex-row">
    <a href="#">My Brand</a>

    <div id="navbar-content">
        <ul class="flex-row">
            <li class="nav-item">
                <a class="nav-link" href="#">First Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Second Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Third Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fourth Linkl</a>
            </li>
        </ul>
    </div>
</nav>
