<nav class="flex-row">
    <a href="#"><img src="../../../../assets/images/dira.png" alt="" /></a>

    <div id="navbar-content">
        <ul class="flex-row">
            <li class="nav-item">
                <a class="nav-link" href="#">First Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Second Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Third Linkl</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fourth Linkl</a>
            </li>
            <button mat-raised-button (click)="openRegistrationDialog()">Regisztráció</button>
        </ul>
    </div>
</nav>
