.menu-spacer {
    flex: 1 1 auto;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 1em 0;
    #navbar-content {
        flex: 1;
    }

    ul {
        flex: 1;
        justify-content: flex-end;

        li {
            padding-left: 1em;
        }
    }

    img {
        height: 25px;
        filter: brightness(0) saturate(100%) invert(23%) sepia(53%) saturate(2541%)
            hue-rotate(245deg) brightness(97%) contrast(93%);
    }
}
