:host mat-horizontal-stepper {
  ::ng-deep .mat-horizontal-content-container {
    padding: 0;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
  }
}

.registration-card {
  background-color: white;
  padding: 48px;
  margin: 16px 0;
  border-radius: 24px;
  overflow: auto;
}
