<div fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <div class="auth-container registration-card mat-elevation-z8">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <mat-horizontal-stepper class="no-header" linear="true" #stepper>
        <mat-step>
          <app-security-data-step #securityDataStep></app-security-data-step>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
            <div>
              <button
                mat-flat-button
                matStepperNext
                [disabled]="!securityDataStep.securityDataFg.valid"
                class="m3-button"
                color="primary"
                fxFlex>
                {{ 'COMMON.NEXT_STEP' | translate }}
              </button>
            </div>
            <div>
              <button mat-stroked-button class="m3-button" (click)="back()" fxFlex>
                {{ 'COMMON.BACK' | translate }}
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <app-partner-data-step
            #partnerDataStep
            [partnerType]="securityDataStep.securityDataFg.get('partnerType')?.value">
          </app-partner-data-step>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
            <div>
              <button
                mat-flat-button
                matStepperNext
                [disabled]="!partnerDataStep.partnerDataFg.valid"
                class="m3-button"
                color="primary"
                fxFlex>
                {{ 'COMMON.NEXT_STEP' | translate }}
              </button>
            </div>
            <div>
              <button mat-stroked-button matStepperPrevious class="m3-button" fxFlex>
                {{ 'COMMON.BACK' | translate }}
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <app-summary-step [summary]="summary" #summaryStep></app-summary-step>
          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
            <div>
              <button
                mat-flat-button
                matStepperNext
                [disabled]="!summaryStep.summaryFg.get('termsAccepted')?.value"
                class="m3-button"
                color="primary"
                (click)="onClickRegister()"
                fxFlex>
                {{ 'AUTHENTICATION.REGISTRATION' | translate }}
              </button>
            </div>
            <div>
              <button mat-stroked-button matStepperPrevious class="m3-button" fxFlex>
                {{ 'COMMON.BACK' | translate }}
              </button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
