<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px">
      <span class="registration-header">{{ 'AUTHENTICATION.REGISTRATION' | translate }}</span>
      <span class="registration-step">{{ 'PARTNER.SUMMARY' | translate }}</span>
    </div>
    <div gdColumns="auto auto" gdGap="0px 32px">
      <!-- Cég -->
      <ng-container *ngIf="summary.partnerType === PartnerTypeEnum.COMPANY">
        <p>{{ 'COMPANY.NAME' | translate }}</p>
        <strong
          ><p>{{ summary.name }}</p></strong
        >
        <p>{{ 'COMPANY.TYPE' | translate }}</p>
        <strong
          ><p>{{ 'ENUM.COMPANY_TYPE.' + summary.companyType | translate }}</p></strong
        >
      </ng-container>
      <!-- Általános/Üzleti felhasználó -->
      <ng-container *ngIf="summary.partnerType !== PartnerTypeEnum.COMPANY">
        <p *ngIf="isBusinessPartner">{{ 'PARTNER.COMPANY' | translate }}</p>
        <strong *ngIf="isBusinessPartner"
          ><p>{{ summary.companyName }}</p></strong
        >
        <p>{{ 'PARTNER.TITLE' | translate }}</p>
        <strong
          ><p>
            {{ (summary.title ? 'ENUM.PARTNER_TITLE.' + summary.title : '-') | translate }}
          </p></strong
        >
        <p>{{ 'PARTNER.LAST_NAME' | translate }}</p>
        <strong
          ><p>{{ summary.lastName }}</p></strong
        >
        <p>{{ 'PARTNER.FIRST_NAME' | translate }}</p>
        <strong
          ><p>{{ summary.firstName }}</p></strong
        >
      </ng-container>
      <p>{{ 'AUTHENTICATION.USERNAME' | translate }}</p>
      <strong
        ><p>{{ summary.username }}</p></strong
      >
      <p>{{ 'PARTNER.EMAIL' | translate }}</p>
      <strong
        ><p>{{ summary.email }}</p></strong
      >
      <p>{{ 'PARTNER.PHONE_NUMBER' | translate }}</p>
      <strong
        ><p>{{ summary.phoneNumber ?? '-' }}</p></strong
      >
      <p>{{ 'PARTNER.PARTNER_TYPE' | translate }}</p>
      <strong
        ><p>{{ 'ENUM.PARTNER_TYPE.' + summary.partnerType | translate }}</p></strong
      >
      <p *ngIf="summary.partnerType !== PartnerTypeEnum.COMPANY">
        {{ 'PARTNER.LANGUAGE' | translate }}
      </p>
      <strong *ngIf="summary.partnerType !== PartnerTypeEnum.COMPANY"
        ><p>
          {{ 'ENUM.LANGUAGES.' + summary.language?.toUpperCase() | translate }}
        </p></strong
      >
      <ng-container *ngIf="summary.usageTypes">
        <p>{{ 'PARTNER.USAGE_TYPE' | translate }}</p>
        <p>
          <strong *ngFor="let usageType of summary.usageTypes">
            <span>
              {{ 'ENUM.USAGE_TYPE.' + usageType.name | translate }}
            </span>
            <br />
          </strong>
        </p>
      </ng-container>
    </div>
    <div [formGroup]="summaryFg">
      <mat-checkbox
        class="terms-and-conditions break-text"
        color="primary"
        formControlName="termsAccepted">
        {{ 'AUTHENTICATION.TERMS_AND_CONDITIONS' | translate }}
      </mat-checkbox>
    </div>
  </div>
</div>
