@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/css-star-rating/scss/star-rating.scss';

// Plus imports for other components in your app.

@import 'variables';

/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

// FLEX OPTIONS

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

// FLEX OPTIONS

button {
    font-weight: 900 !important;
    font-size: 12px !important;
}

.card {
    background-color: #f6f6f6;
    display: flex;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.19);
}

.slick-list {
    overflow-y: visible !important;
    overflow-x: clip !important;
}

.slick-arrow::before {
    color: #673ab7 !important;
}

// CUSTOM CLASSES

.full-width {
    width: 100% !important;
}

// SNACKBAR
.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: none;
}

.mat-mdc-snack-bar-label {
    padding: 0 !important;
}

.snackbar-notification {
    &.error {
        --mdc-snackbar-container-color: $warn;

        background-color: $warn;
    }

    &.warning {
        --mdc-snackbar-container-color: $warn;

        background-color: $accent;
    }

    &.success {
        --mdc-snackbar-container-color: $primary;

        background-color: $primary;
    }
}

// RESET CSS

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}
// RESET CSS
