<div fxLayoutGap="32px" fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="50">
    <app-card *ngIf="passwordMode === 'FORGOTTEN_PASSWORD'">
      <form [formGroup]="emailFg" fxLayout="column">
        <app-input
          label="FORGOTTEN_PASSWORD.EMAIL"
          formControlName="email"
          appearance="outline"
          required
          [errorMsgConfig]="{
            dataInvalid: 'VALIDATION.EMAIL_NOT_FOUND',
            pattern: 'VALIDATION.EMAIL_FORMAT'
          }">
        </app-input>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
          <button mat-stroked-button type="button" (click)="navigateToLogin()">
            {{ 'COMMON.BACK' | translate }}
          </button>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            (click)="sendEmail()"
            [disabled]="!emailFg.valid">
            {{ 'FORGOTTEN_PASSWORD.SEND' | translate }}
          </button>
        </div>
      </form>
    </app-card>
    <app-card *ngIf="passwordMode === 'CHANGING_PASSWORD'">
      <form [formGroup]="newPasswordFg" fxLayout="column">
        <app-input
          appearance="outline"
          label="FORGOTTEN_PASSWORD.NEW_PASSWORD"
          formControlName="password"
          type="password"
          [errorMsgConfig]="{ pattern: 'VALIDATION.PASSWORD_FORMAT' }">
        </app-input>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'FORGOTTEN_PASSWORD.CONFIRM_PASSWORD' | translate }}</mat-label>
          <input
            matInput
            required
            type="password"
            formControlName="confirmPassword"
            [errorStateMatcher]="parentErrorMatcher" />
          <mat-error *ngIf="newPasswordFg.get('confirmPassword')?.hasError('required')">{{
            'VALIDATION.REQUIRED' | translate
          }}</mat-error>
          <mat-error *ngIf="newPasswordFg.hasError('confirmInvalid')">{{
            'VALIDATION.PASSWORD_CONFIRM' | translate
          }}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
          <button mat-stroked-button type="button" (click)="navigateToLogin()">
            {{ 'COMMON.BACK' | translate }}
          </button>
          <button
            mat-flat-button
            type="submit"
            color="primary"
            (click)="changePassword()"
            [disabled]="!newPasswordFg.valid">
            {{ 'FORGOTTEN_PASSWORD.CHANGE_PASSWORD' | translate }}
          </button>
        </div>
      </form>
    </app-card>
  </div>
</div>
